@import "form.css";

* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
}

.section {
  display: block;
  border: 1px solid lightsteelblue;
  border-radius: 0.5em;
  padding: 0 1em 1em;
}

.code {
  font-family: monospace;
}
